<main>
  <carto-map [center]="[40.42, -3.7]" zoom="13" (onMapCreated)="onMapCreated($event)">
    <basemap
      url="https://{s}.basemaps.cartocdn.com/rastertiles/voyager_nolabels/{z}/{x}/{y}.png"
      [leafletMap]="map">
    </basemap>

    <layer
      [map]="map"
      [client]="cartoClient"
      [layerSource]="layerSource"
      [layerStyle]="layerStyle">
    </layer>
  </carto-map>

  <app-widget
    class="Histogram"
    [map]="map"
    [client]="cartoClient"
    [source]="layerSource"
    column="price"
    [bins]="7"
    (onDataChanged)="onWidgetDataChanged($event)">
  </app-widget>
</main>
